/*CSS Styling*/

html{
	background-image:url("bgimg.jpg");
	background-repeat:no-repeat;
	background-size:cover;
}

.form_box{
	margin:auto;
	padding:1em;
	opacity:0.7;
	background-color:#fff;
	width:50%;
	text-align:center;
	border-radius:0.5em;
}

#login_title{
	font-family: 'Roboto Slab', serif;
}



