html {
	height:100%;
}

body {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	min-height: 100%;
}

.result{
	font-family: 'Exo', sans-serif;
	font-size:1.5em;
	text-align:center;
	width:50%;
	background-color:#61ECFF;
	margin:auto;
	padding:2em;
	display:none;
}

.result a{
	color:#000;
}

.result a:hover{
	text-decoration:none;
	color:#5D5D5D;
}

.resultTitle{
	font-family: 'KoHo', sans-serif;
	text-align:center;
	margin-top:3em;
}

.resultTitleDescp{
	font-family: 'KoHo', sans-serif;
	text-align:center;
}

.footer{
	clear:right;
	width:100%;
	background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	padding:2em;
	padding-bottom:1em;
	text-align:center;
	margin:0;
	position:absolute;
	bottom:0;
}

.links a{
	padding:0.2em;
	font-size:2em;
}

.footer h4{
	font-family: 'Exo', sans-serif;
	color:#fff;
}

.footer p{
	font-family: 'Exo', sans-serif;
	color:#fff;
	font-size:0.7em;
	padding:1em;
}