.result{
	font-family: 'Exo', sans-serif;
	font-size:1.5em;
	text-align:center;
	width:50%;
	background-color:#61ECFF;
	margin:auto;
	padding:2em;
}

.result a{
	color:#000;
}

.result a:hover{
	text-decoration:none;
	color:#5D5D5D;
}

.resultTitle{
	font-family: 'KoHo', sans-serif;
	text-align:center;
}