.conference {
	display:none;
}

.conference img{
	margin-bottom:2em;
}

.pimg {
	text-align:center;
	font-family:'KoHo', sans-serif;
}

.para {
	text-align:justify;
	margin:2em;
	font-family:'KoHo', sans-serif;
}

.conference h1 {
	margin-top:3em;
	font-family:'Exo', sans-serif;
	text-align:center;
}

#myMap {
	position:relative;
	width:600px;
	height:400px;
}

.footer{
	clear:right;
	width:100%;
	background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	padding:2em;
	padding-bottom:1em;
	text-align:center;
	margin:0;
	position:relative;
	bottom:0;
}

.links a{
	padding:0.2em;
	font-size:2em;
}

.footer h4{
	font-family: 'Exo', sans-serif;
	color:#fff;
}

.footer p{
	font-family: 'Exo', sans-serif;
	color:#fff;
	font-size:0.7em;
	padding:1em;
}