html {
	height:100%;
}

body {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	min-height: 100%;
}

.m {
	width:auto;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:0;
}

.ev {
	font-family: 'Special Elite', cursive;
	text-align: center;
}

.fbAPI {
	width:50%;
	font-family: 'Comfortaa', cursive;
	padding:3em;
	padding-top:0;
	text-align:center;
	float: left;
	border-right:1px solid #8B8B8B;
}

.list {
	float: right;
	width: 50%;
	padding:3em;
	padding-top:0;
	font-family: 'Comfortaa', cursive;
}

.clubSoc {
	margin-left: 19%;
}

.list-item {
	padding: 1em;
	width: 70%;
	height: 20%;
	background-color: dodgerblue;
	font-family: 'Roboto Slab', serif;
	text-align:center;
	border-bottom:1px solid lightskyblue;
	cursor:pointer;
}

.list-link a {
	color:#000;
}

.list-link a:hover{
	text-decoration:none;
	color:#464646;
}

.list-item:hover{
	background-color: lightskyblue;
}

.backTop a{
	clear:both;
	float:right;
	padding:2em;
	text-align:right;
	font-family: 'Comfortaa', cursive;
	color:#000;
}

.backTop a:hover{
	text-decoration:none;
	color:#5D5D5D;
}

.footer{
	clear:right;
	width:100%;
	background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	padding:2em;
	padding-bottom:1em;
	text-align:center;
	margin:0;
	position:relative;
	bottom:0;
}

.links a{
	padding:0.2em;
	font-size:2em;
}

.footer h4{
	font-family: 'Exo', sans-serif;
	color:#fff;
}

.footer p{
	font-family: 'Exo', sans-serif;
	color:#fff;
	font-size:0.7em;
	padding:1em;
}