.m {
	width:auto;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:0;
}

.ev {
	font-family: 'Special Elite', cursive;
}

.fbAPI {
	width:50%;
	font-family: 'Comfortaa', cursive;
	padding:3em;
	padding-top:0;
	text-align:center;
	float: left;
}

.list {
	float: right;
	width: 50%;
	padding:3em;
	padding-top:0;
	font-family: 'Comfortaa', cursive;
}

#news {
	width: auto; 
	height: 300px; 
	background-color: lightblue;
}
  
#news-item {
	margin:20px 150px 20px 150px;
}

.list-item {
	padding: 1em;
	width: 60%;
	height: 20%;
	background-color: dodgerblue;
	font-family: 'Roboto Slab', serif;
	text-align:center;
	border-bottom:1px solid lightskyblue;
	cursor:pointer;
}

.list-item:hover{
	background-color: lightskyblue;
}

.backTop a{
	clear:both;
	float:right;
	padding:2em;
	text-align:right;
	font-family: 'Comfortaa', cursive;
	color:#000;
}

.backTop a:hover{
	text-decoration:none;
	color:#5D5D5D;
}

.footer{
	clear:right;
	width:100%;
	background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	padding:2em;
	text-align:center;
	margin:0;
}

.links a{
	padding:0.2em;
	font-size:2em;
}

.footer h4{
	font-family: 'Exo', sans-serif;
	color:#fff;
}

.footer p{
	font-family: 'Exo', sans-serif;
	color:#fff;
	font-size:0.7em;
	padding:1em;
}