.m {
	width:auto;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:0;
}

.fbAPI {
	width:50%;
	font-family: 'Comfortaa', cursive;
	padding:3em;
	padding-top:0;
	text-align:center;
}

#news {
	width: auto; height: 300px; background-color: lightblue;
}
  
#news-item {
	margin:20px 150px 20px 150px;
}